#cartcontainer{
    background-color: rgb(91, 120, 150);
    padding-top: 40px;
}
img{
    height: 250px;
}
button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 25px;
  }
  .on {
    color: gold;
  }
  .off {
    color: #ccc;
  }
  .font{
    margin: 0px 5px 0px 5px;
  }
  